/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/background.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:hidden;
}

.dex_left {
	width: 30%;
	height: 80%;
	background: linear-gradient(150deg, transparent 30px, red 0);
	display: flex;
	flex-flow: column;
	font-family: 'VT323', monospace;
	align-items: center;
	padding-top: 2.5%;
}

.screen {
  width: 80%;
  height: 40%;
  background-color: #202020;
  background: linear-gradient(150deg, transparent 15px, #202020 0);
  opacity: 1;
}
#sprite {
  height: 100%;
  position: relative;
  left: 0.75rem;
}

.search_title_container {
  height: 5%;
  width: 80%;
}

.search_input {
  width: 47%;
  height: 5%;
  background-color: #4f9d57;
  position: relative;
  bottom: -2rem;
  right: 3rem;
}

.search_input input {
  background-color: #4f9d57 ;
  width: 100%;
  height: 100%;
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}

.search_button {
  width: 58%;
  height: 2rem;
  border-radius: 25%;
  background-color: gray;
  position: relative;
  bottom: 2rem;
  left: 10rem;
  font-family: 'VT323', monospace;

}

.search_button button {
  background: transparent;
  border: 0;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
}

button:hover {
  cursor: pointer;
  font-family: 'VT323', monospace;
}

button:active {
  background-color: #4d4d4d;
  box-shadow: 0 5px #191919;
  transform: translateY(4px);
}

.random_type_title {
	/* background-color: #191919; */
	position: relative;
	top: 2rem;
	left: -2rem;
}

.type_buttons_container {
  display: flex;
  flex-flow: column;
  width: 80%;
  height: 30%;
  border: 1px black
   solid;
  position: relative;
  top: 2rem;
}

.type_button_row {
  height: 33%;
  width: 99%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.type_button {
  height: 99%;
  width: 16.66%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #202020 solid 1px;
}

.type_img {
  height: 80%;
  width: 80%;
}

.dex_right {
  width: 40%;
  height: 80%;
  background: linear-gradient(150deg, transparent 30px, black 0);
  opacity: 0.97;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-family: 'VT323', monospace;
}

#name {
  color: azure;
}

#type {
  color: azure;
}

.poke_desc {
  color: whitesmoke;
  width: 80%
}

.evo_title {
  color: whitesmoke;
}

.evo_node {
  height: 3rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  body {
      background: #292929;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
      background: #292929;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
      background: #292929;
  }
}

@media all and (max-width: 480px) {
  body {
      background: #292929;
  }
}