.main {
    width: 1000px;
    height: 800px;
    float: left;
}

/*Navbar*/
.headr_container {
    height: 5%;
    width: 100%;
    float: left;
}

.list_item {
    display: inline;
}

/*section title top*/
.section_title.top {
    height: 10%;
    width: 100%;
    float: left;
}

.title {
    width: 50%;
    height: 100%;
    float: left;
}

.timestamp {
    width: 50%;
    height: 100%;
    float: right;
}

/*
* top section
*/
.top_section {
    height: 45%;
    width: 100%;
    float: left;
}

/*left side of top_section, contains the big article*/
.left_side {
    position: relative;
    height: 100%;
    width: 45%;
    float: left;
}

.big_img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.article_title.left,
.article_desc.left,
.article_tag.left {
    margin-top: 0;
    position: absolute;
    z-index: 4;
}

/*right side, contains the quad image panel to the right of 
 * the big article* */
.right_side {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 50%;
    margin: 0 5% 0 0;
}

.panel_article {
    height: 50%;
    width: 50%;
}

.quad_panel_img {
    height: 100%;
    width: 100%;
}

.article_title.right {
    height: 10%;
    color: green;
    width: 40%;
    float: left;
    margin-top: -35%;
    z-index: 4;
    position: absolute;
}

.article_tag.right {
    height: 10%;
    color: orange;
    z-index: 4;
    position: absolute;
    margin: 90% 0 0 5%;
}

/*section title bottom*/
.section_title.bottom {
    height: 10%;
    width: 50%;
    float: left;
}

/*bottom section*/
.bottom_section {
    height: 30%;
    width: 100%;
    float: left;
}

.column_div {
    float: left;
    display: inline;
    width: 30%;
}

.bottom_sec_img {
    height: 100%;
    width: 100%;
}