.main {
    width: 100%;
    height: auto;
    float: left;
}

/*Navbar*/
.headr_container {
    height: 5%;
    width: 100%;
    float: left;
}

.list_item {
    display: inline;
}

/*section title top*/
.section_title {
    height: 10%;
    width: 100%;
    float: left;
}

.title {
    width: 50%;
    height: 100%;
    float: left;
}

.timestamp {
    width: 50%;
    height: 100%;
    float: right;
}

/*
* top section
*/
.top_section {
    height: 45%;
    width: 100%;
    float: left;
}

/*left side of top_section, contains the big article*/
.left_side {
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
}

.big_img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.article_title.left,
.article_desc.left,
.article_tag.left {
    margin-top: 0;
    position: absolute;
    z-index: 4;
}

/*right side, contains the quad image panel to the right of 
 * the big article* */
.right_side {
    float: right;
    height: 100%;
    width: 50%;
    margin: 0 5% 0 0;
}

.panel_article {
    position: relative;
    height: 50%;
    width: 25%;
}

.panel_article.top_left {
    float: left;
    height: 48%;
    width: 50%;
    padding: 0%;
    margin: 0 0 0 2.5%;
}

.panel_article.top_right {
    float: right;
    height: 48%;
    width: 25%;
    padding: 0%;
}


.panel_article.bottom_left {
    float: left;
    height: 48%;
    width: 22%;
    padding: 0%;
    clear: right;
}

.panel_article.bottom_right {
    float: right;
    height: 48%;
    width: 22%;
    padding: 0%;
    clear: left;
}

.quad_panel_img {
    height: 99%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.article_title.right {
    height: 10%;
    color: green;
    width: 40%;
    float: left;
    margin-top: -35%;
    z-index: 4;
    position: absolute;
}

.article_tag.right {
    height: 10%;
    color: orange;
    z-index: 4;
    position: absolute;
    margin: 90% 0 0 5%;
}

/*section title bottom*/
.section_title.bottom {
    height: 10%;
    width: auto;
    float: left;
}

/*bottom section*/
.bottom_section {
    height: 30%;
    width: 100%;
    float: left;
}