.body {
    display: block;
    max-width: 1000px;
    min-width: 480px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}


/* 
    NAV
    Navigation Bar
*/
.headr {
    float: left;
    height: 10%;
}

.nav_container {
    height: 100%;
}

.navbar>ul>.nav_li {
    display: inline;
    padding: 0% 2% 0% 2%;
    background-color: black;
    height: 100%;
    overflow: hidden;
}

.nav_li .bbc_icon {
    width: 3%;
    height: auto;
}

.nav_li>a {
    color: whitesmoke;
}

/*
    section INTRO
    class needs to be renamed
*/

.section_title {
    width: 100%;
    clear: both;
    margin-bottom: 0%;
    margin-top: 0%;
}

.greeting_text,
.timestamp_text {
    display: inline;
}

.greeting_text {
    padding: 0% 30% 0% 2%;
}

.timestamp_text {
    padding: 0% 0% 0% 30%;
}

/* 
    MAIN section with highlighted articles 
    this section also contains rules for the
    image grid panel on the top-right of the 
    page.
*/
/* whole top section */
.top_section {
    border: solid 1.5% green;
    float: left;
    height: 50%;
}

/* left (MAIN) side */

.left_div {
    height: 100%;
    width: 50%;
    float: left;
    justify-content: stretch;
}

.big_div {
    width: 100%;
}

.big_panel_img {
    width: 100%;
}

/* right (QUAD pane) side */
.right_div {
    height: 100%;
    width: 50%;
    float: right;
    display: inline;
}

div .qp_div {
    height: 12.5%;
    margin: 0.5%;
}

.quad_panel_div1,
.quad_panel_div3 {
    float: left;
    width: 49%;
    height: 25%;
    clear: right;
    border: solid 1.5% black;
    position: relative;
}

.quad_panel_div2,
.quad_panel_div4 {
    float: right;
    width: 49%;
    border: solid 1.5% black;
    position: relative;
}

.quad_panel_img {
    width: 100%;
}

.quad_panel_img>.news_tag {
    position: absolute;
    bottom: 4%;
    left: 4%;
}


/* bottom section */
.bottom_section {
    display: block;
    height: 50%;
    width: 100%;
    clear: both;
    float: left;
}

.bottom_sec_div {
    float: left;
    display: inline;
    width: 33%;
}


.bottom_sec_img {
    width: 96%;
}