/* Box Model Hack */
* {
  box-sizing: border-box;
}

#headr,
#footr {
  border: orange 2px solid;
  height: 120px;
  clear: both;
}

#triple_sec {
  border: solid green;
  height: 190px;
  clear: both;
}

.trip_sec_div {
  border: solid purple 2px;
  width: 33.333%;
  display: inline;
  float: left;
  height: 185px;
}

#double_sec {
  border: solid blue 2px;
  height: 230px;
  clear: both;
}

.double_sec_div {
  border: solid red 2px;
  width: 50%;
  display: inline;
  float: left;
  height: 225px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
   Props to @bartholomej on Github for the awesome cheat sheet: https://gist.github.com/bartholomej/8415655
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  body {
    background: gray;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    background: lightblue;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    background: lightcoral;
  }
}

@media all and (max-width: 480px) {
  body {
    background: lightgreen;
  }
}