.main {
  max-width: 1366px;
  min-width: 768px;
  width: 100%;
  max-height: none;
  min-height: 432px;
  height: 768.38px;
  float: left;
}

/**
 * sidebar
 */

li {
  list-style-type: none;
}

.sidebar_div {
  height: 100%;
  width: 20.5%;
  float: left;
  margin-left: -3%;
  padding-right: 0;
}

.sidebar {
  height: 100%;
  width: auto;
}

.sidebar img {
  height: 25px;
  width: auto;
}

.list_item {
  margin: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.nav_anchor {
  text-decoration: none;
  color: gray;
}

.extra_crunch {
  color: orange;
}

.content>.extra_crunch {
  padding: 2% 0 1% 0;
  font-family: 'Roboto', sans-serif;
}

/**
 * "top section", contains highlited article section
 *  and the latest news list
 */

.top_section {
  height: auto;
  width: 79%;
  display: block;
  float: right;
}

/**  highlited article section css only */
.highlighted_article {
  height: auto;
  width: 60%;
  float: left;
}

.article_type {
  height: 5%;
  margin: 0 0;
}

.article_title {
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Roboto', sans-serif;
}

.article_title.big_title {
  width: 105%;
  font-size: 1.60rem;
  padding-bottom: 1%;
}

.article_desc {
  height: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.80rem;
  color: gray;
}

.article_author {
  height: 5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
}

.article_author.big {
  display: inline-block;
  padding-bottom: 1%;
}

.article_img {
  height: 100%;
  width: 100%;
}


/**  highlited article section css only */
.news_feed {
  width: 40%;
  float: right;
}

.news_feed.container {
  height: 70%;
  float: right;
}

.feed_article {
  height: auto;
  width: 90%;
  margin: 4% 10%;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2%;
}

div.last_feed_article {
  border-bottom: none;
}

.article_title.feed {
  height: 85%;
  margin-bottom: 2%;
  font-size: 1.2rem;
}

.article_author.feed {
  height: 15%;
}

/**  latest news section css only */
.latest_news {
  height: 30%;
  width: 79%;
  float: right;

}

.row {
  height: 80%;
  width: 100%;
  border-top: 1px solid gray;
}

.row_header {
  padding: 4% 0 2% 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.row>div {
  display: inline;
  width: 33%;
  float: left;
  height: 100%;
}

.article_title.column {
  width: 75%;
  height: 70%;
  font-size: .82rem;
}

.article_author.column {
  height: 10%;
}

.article_timestamp.column {
  height: 20%;
  margin-top: -5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
}

.article_desc.column {
  font-family: 'Roboto Condensed', sans-serif;
}

.row_p {
  color: gray;
  padding: 0% 10% 7% 0%;
}

.column_img {
  height: 100%;
  width: 100%;
  padding: 5% 0% 2% 0%;
  object-fit: cover;
}