.main {
    height: 1024px;
    width: 4000px;
}

.list_item {
    display: inline;
}

.navbar {
    height: 5%;
    background-color: blue;
}

.first_section {
    height: 15%;
    background-color: red;
}

.second_section {
    height: 20%;
    background-color: pink;
}

.third_section {
    height: 20%;
    background-color: greenyellow;
}

.fourth_section {
    height: 20%;
    background-color: purple;
}

.fifth_section {
    height: 20%;
    background-color: green;
}